# Godot 4+ specific ignores
.godot/
/android/
addons/godot-git-plugin/win64/~libgit_plugin.windows.editor.x86_64.dll

# other ignores
.import/
.mono/
*.import
*.log
*.tmp
*.translation

.DS_Store

# prevent credentials from being committed
export_presets.cfg
